@inject NavigationManager NavigationManager

@page "/Group"


<div class="col-auto p-2 justify-content-end bd-highlight">
    <RadzenSelectBar class="bg-white rounded-pill my-auto" TValue="int" Size="ButtonSize.Small" @bind-Value="@role">
        <Items>
            <RadzenSelectBarItem Value="1" Text="Driver  " />
            <RadzenSelectBarItem Value="2" Text="Rider " />
        </Items>
    </RadzenSelectBar>
</div>


<RadzenStack>
    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="width:75%">
        <RadzenRow RowGap="0">
            <RadzenColumn SizeSM="3" Class="d-flex align-items-center justify-content-center">
                <RadzenButton Click="@(() => NavigateTo("Profile"))" ButtonStyle="ButtonStyle.Light" Style="width: 150px; height: 150px; border-radius: 50%;">
                    <RadzenImage Path="https://cdn.create.vista.com/api/media/medium/137014128/stock-vector-user-profile-icon?token" Style="width:100%" />
                </RadzenButton>
            </RadzenColumn>
            <RadzenColumn SizeSM="6" Class="d-flex align-items-center justify-content-center">
                <RadzenButton Text="13" class="p-1 rz-background-color-primary rz-color-on-primary rz-text-align-center rz-p-2" Style="height: 80px; width:80px;display: flex; align-items: center; justify-content: center; font-size: 32px; margin: 10px;"  Click="@(() => NavigateTo("Friends"))" />
                <RadzenText TextStyle="TextStyle.Button" class="rz-display-flex rz-mt-2 rz-my-0">Friends</RadzenText>
                <RadzenButton Text="24" class="p-1 rz-background-color-primary rz-color-on-primary rz-text-align-center rz-p-2" Style="height: 80px; width:80px;display: flex; align-items: center; justify-content: center; font-size: 32px; margin: 10px;"  Click="@(() => NavigateTo("Group"))" />
                <RadzenText TextStyle="TextStyle.Button" class="rz-display-flex rz-mt-2 rz-my-0">Completed Rides</RadzenText>
            </RadzenColumn>
        </RadzenRow>

        <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-mt-2 rz-my-0">Name</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">John Doe</RadzenText>

        <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-mt-2 rz-my-0">Pronouns</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">She/Her, He/Him, etc.</RadzenText>

        @if(role == 1)
        {
            <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-mt-2 rz-my-0">Role</RadzenText>
            <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">Driver</RadzenText>
        }
        else if(role == 2)
        {
            <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-mt-2 rz-my-0">Role</RadzenText>
            <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">Rider</RadzenText>
        }

        <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-mt-2 rz-my-0">Driving/Riding Statistics</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">Total Driving Miles: 24</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">Total Riding Miles: 68</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">Net Driving Miles: 22</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">Net Driving Miles Per Week: 12</RadzenText>

        <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-mt-2 rz-my-0">Current Rating </RadzenText>
        
        <RadzenRating @bind-Value=@value ReadOnly=true />

        @if(role == 1)
        {
            <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-mt-2 rz-my-0">Ready to drive?</RadzenText>
            <MudItem xs="12" md="12">
                <button class="btn btn-primary" Click="@(() => NavigateTo("Friends"))">Get Directions</button>

            </MudItem>

        }



    </RadzenCard>
</RadzenStack>


@code {
    int value = 3;

    public int role { get; private set; }

    
    
    private void NavigateTo(string page)
    {
        NavigationManager.NavigateTo($"/{page}");
    }

}
